@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Poppins:wght@100;200;300;400;500;600&family=Roboto:wght@100;300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

 body {
    font-family: 'Lato', sans-serif;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
 }

.title {
    display: flex;
    justify-content: center;
    text-align: left;
    
}

.closeIcon {
    display: flex;
    flex-direction: row;
    justify-content: right;
    width: 95%;
    margin: 15px;
    cursor: pointer;
}

.boxContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 460px;
    height: 600px;
    -webkit-box-shadow: 9px 10px 16px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 9px 10px 16px 0px rgba(0,0,0,0.15);
    box-shadow: 9px 10px 16px 0px rgba(0,0,0,0.15)
} 

.spanContent {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-weight: 900;
    width: 100%;
    height: 100px;
}

.peBox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
    margin: 20px  5px 5px 5px;
    width: 100%;
} 

p {
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px
}


.puntuacion1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 10px 40px 10px;
    padding: 35px 35px 35px 35px;
    border: 1px  solid;
    width: 30px;
    height: 70px;
} 
.puntuacion2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 10px 40px 10px;
    padding: 35px 35px 35px 35px;
    border: 1px solid;
    width: 30px;
    height: 70px;
} 

.puntuacion3 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 10px 40px 10px;
    padding: 35px 35px 35px 35px;
    border: 1px  solid;
    width: 30px;
    height: 70px;
}

.puntuacion4 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 10px 40px 10px;
    padding: 35px 35px 35px 35px;
    border: 1px  solid;
    width: 30px;
    height: 70px;
}

.puntuacion5 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 10px 40px 10px;
    padding: 35px 35px 35px 35px;
    border: 1px  solid;
    width: 30px;
    height: 70px;
} 

.terminos {
    display: flex;
    flex-direction: row;
    width: 100%; 
    margin-top: 50px;
} 

.separador {
    width: 50%;
    height: 1px;
    margin-top: 50px;
    padding: 1px 1px 1px 1px;
    background-color: black
}


.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 50px;
} 

button {
    font-family: 'Lato', sans-serif;
    padding: 50px 20px 50px 20px;
    width: 85%;
    cursor: pointer;
}